{% extends 'base.html' %}
{% block title %}Welcome to da Blogg!{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">
  <h1 class="my-4">Displaying single {{ type }}
    <small>right now</small>
  </h1>
  <div class="row">
    {% if post %}

    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text">{{ post.body }}</p>
        </div>
        <div class="btn-group m-b-s">
          <a class="btn btn-primary" href="/">Go to main page</a>

          <a class="btn btn-primary" data-toggle="collapse" href="#comments" aria-expanded="false" aria-controls="comments">
            Show da comments
          </a>

        </div>
        <div class="card-footer text-muted">
          Created: {{ post.created }}
        </div>
        
      </div>
    </div>
    {% endif %}
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}