{% extends 'base.html' %}
{% block title %}Welcome to da Blogg!{% endblock %}

{% block content %}
<!-- Page Content -->

<div class="container">
  <h1 class="my-4">My blog {{type}}
    <small>, written in dżango</small>
  </h1>
  <div class="row">
    {% if posts %}
    {% for post in posts %}

    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body m-t-s" style="padding-left: 15px">
          <h2 class="card-title">{{ post.title }}</h2>
          <hr>
          <p class="card-text">{{ post.body }}</p>
          <hr>
          <div class="btn-group m-b-s">
            <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Show me whole entry</a>

            <a class="btn btn-success green" data-toggle="collapse" href="#comments{{ post.id }}" aria-expanded="false" aria-controls="comments{{ post.id }}">
              Show da comments
            </a>

          </div>
        </div>
        <div class="collapse" id="comments{{ post.id }}">
          <div class="card card-block">
            <form class="form-group" method='POST' action='/add_comment/'> 
                {% csrf_token %}
                <input type='hidden' value='{{ post.id }}' name='id'>
                {% if request.user.is_authenticated %}
                <input type='hidden' value='{{ request.user.username }}' name='user'>

                {% else %}
                <input type='hidden' value='guest' name='user'>

                {% endif %}
                <input type='hidden' value='{{ type }}' name='type'>

                <textarea class="form-control" name="body" placeholder="Do you want to comment this?" ></textarea>

                <button type="submit" class="btn btn-success green form-control"> Add comment</button>
              </form>
            <ul class="list-group list-group-flush">
              {% if post.comments %}
              {% for comment in post.comments.all|dictsortreversed:"id" %}
              <li class="list-group-item">
                {{ comment.body }}
                <a style="margin-left: 10%; color: green;"> <!-- not really important for now -->
                  ~{{ comment.user }}
                </a></li>
                {% endfor %}
                {% else %}
                <li class="list-group-item">No comments for now</li>

                {% endif %}
              </ul>
              <!-- below were submitting comment by POST together with post.id -->      
            </div>

          </div>
          <div class="card-footer text-muted">
            Created: {{ post.created }} , comments count: {{ post.comments_count }}
          </div>
        </div>
      </div>


      {% endfor %}

      {% else %}
      <p>There are no posts.</p>
      {% endif %}
      <!-- Sidebar Widgets Column -->
<!--   <div class="col-md-4">
    some potential widget here
  </div> -->
</div>
</div>
</div>

</div>


{% endblock %}