{% extends 'base.html' %}
{% block title %}Welcome to da Blogg!{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <h1 class="my-4">All of da entries
        <small>and articles</small>
    </h1>
    <div class="row">
        {% if posts %}
        {% for post in posts %}

        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.body }}</p>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></div>
                    <div class="card-footer text-muted">
                      Created: {{ post.created }}
                  </div>
              </div>
          </div>


          {% endfor %}

          {% else %}
          <p>There are no posts.</p>
          {% endif %}
          <!-- Sidebar Widgets Column -->
          <div class="col-md-4">

              <!-- Search Widget -->
              <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>

</div>


{% endblock %}