{% load compress %}
{% load socialaccount %}
<html>
<head>
	{% compress css %}
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/static/css/blog-home.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/static/css/align.css" type="text/css" charset="utf-8">
	<script src="/static/js/tether.min.js"></script>
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	{% endcompress %}
	<title>{% block head_title %}Demo Blog{% endblock %}</title>

</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Demo Blog</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item">
					<a class="nav-link" href="/entries/">Entries<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/articles/">Articles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/products/">Products</a>
				</li>
				<li class="nav-item"></li>
				{% if request.user.is_authenticated %}
				<p class="text-muted">Logged as {{ request.user.username }}</p>
				<li class="nav-item">
					<a class="nav-link"  href="{% url 'auth_logout' %}?next=/"> Logout</a>
				</li>
				{% else %}
				<a href="{% provider_login_url "facebook" method="oauth2" %}">
					<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>

				</a>
				<a href="{% provider_login_url "twitter" method="oauth2" %}">
					<i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>

				</a>
				<li class="nav-item">
					<a class="nav-link" href="/accounts/login/">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/accounts/register/">Register</a>
				</li>
				{% endif %}
				
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	{% block content %}

	{% endblock %}
</body>
</html>