{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container col-12 m-t-l" style="margin-left: 30px;">
	
	<div class="row">
		{% for product in products %}

		<div class="card text-center" style="width: 20rem; display: inline-block;">
			<img class="card-img-top img-thumbnail m-t-s" style="width: 150px; height: 150px;" src="{{ product.picture.url }}" alt="product image">
			<div class="card-block">
				<h4 class="card-title" style="color: black;">{{ product.name }}</h4>

				<p class="card-text text-success m-t-m">
					<i class="remove fa fa-minus" style="cursor: pointer" aria-hidden="true"></i>

					{{ product.price }}
					
					<i class="add fa fa-plus" style="cursor: pointer" aria-hidden="true"></i>

				</p>
				
				
			</div>
		</div>
		{% empty %}
		<p class="text-faded">No products here</p>
		{% endfor %}

	</div>
	<div class="col-lg-5 col-md-5 col-sm-6 text-center m-t-l" style="position: fixed; bottom: 10px; right: 10px;">
		<div class="card m-b-s" style="padding: 10px;">
			<h2 class="">Your basket:</h2>
			<ul class="text-danger list-group" id="order">add a product</ul>
			<p class="text-success m-t-s" id="price">---</p>
			<form id="buy-form">
				<button id="buy" class="btn btn-success green m-b-s">Buy this crap</button>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() { // i will keep products and counters in two arrays
		var totalPrice = 0;
		var products = [];
		var productsCounter = [];
		$('.add').on('click', add); // attaching click to buttons
		$('.remove').on('click', remove);
		function add(e) {
			var price = parseFloat($(e.target).parent().text());
			totalPrice += price; // counting price

			var product = $(e.target).parent().parent().children().eq(0).html();
			var existsInArray = jQuery.inArray(product, products);
			if (existsInArray == -1) { // no product in array
				products.push(product);
				productsCounter.push(1);
			} else {
				productsCounter[existsInArray]++;
			}
			
			var order = "";
			for (var item in products) {
				order += "<li class='list-group-item'>"+products[item]+" x"+productsCounter[item]+"</li>";
			}
			
			$("#order").html(order);
			$("#price").text(totalPrice.toFixed(2)+"zł");
		} 
		function remove(e) {
			var price = parseFloat($(e.target).parent().text());
			var product = $(e.target).parent().parent().children().eq(0).html();
			var existsInArray = jQuery.inArray(product, products);
			if (existsInArray == -1) { // no product in array
				console.log('nothing in products');
				return; // nothing to remove so returning
			} else {
				console.log('remove from products');
				productsCounter[existsInArray]--;
				var i = productsCounter[existsInArray];
				if (i == 0) {
					var index = products.indexOf(product);
					if (index > -1) {
						productsCounter.splice(index, 1); //resetting counter also
					}
					products = jQuery.grep(products, function(value) { // delete product from array
						return value != product;
					});
				}
				totalPrice -= price;
				var order = "";
				for (var item in products) {
					order += "<li class='list-group-item'>"+products[item]+" x"+productsCounter[item]+"</li>";
				}

				$("#order").html(order);
				$("#price").text(totalPrice.toFixed(2)+"zł");
			}
		}
		$('#buy-form').on('click', function(e) {
			e.preventDefault();
			totalPrice = 0; //  resetting basket items and price
			products = [];
			productsCounter = [];
			order = '';
			//$('.add').off('click'); // disabling buttons while waiting 
			SubmitBasket();
		});
		
		function SubmitBasket() {
			$.ajax({
		type : "POST", 
        url : "submit_basket/", 
        data : { order : $('#order').text(), price: $('#price').text(), email : "{{ request.user.email }}" }, // data sent with the post request

        // handle a successful response
        success : function(json) {

        	$('#order').text('');
        	if (json.email == '') { // if user has no email
        		$('#price').text('Please create account with email'); 
        	} else {
        		$('#price').text('Confirmation sent: '+json.email); 
        		$('#buy').hide();
        	}
            //console.log(json.email); 
            console.log("success"); // sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
        	$('#order').text('');
        	$('#price').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error!</div>"); // add the error to the dom
            //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
		};
	});

</script>

{% endblock %}