amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
confusable-homoglyphs==2.0.2
construct==2.5.3
defusedxml==0.5.0
dj-database-url==0.4.2
django==1.9.9
django-allauth==0.34.0
django-appconf==1.0.2
django-classy-tags==0.8.0
django-compat==1.0.14
django-compressor==2.2
django-debug-toolbar==1.8
django-environ==0.4.4
-e git+https://github.com/django-haystack/django-haystack.git@3f6016e107adefa40a681fa467d6fa9b8b431426#egg=django_haystack
django-loginas==0.3.3
django-mongodb-engine==0.6.0
django-registration==2.0
django-suit==0.2.25
djangotoolbox==1.8.0
future==0.16.0
idna==2.6
kombu==4.1.0
oauthlib==2.0.6
olefile==0.44
pefile==2017.11.5
Pillow==4.3.0
psycopg2==2.7.3.2
pymongo==3.5.1
pysolr==3.3.0
python-ptrace==0.9.3
python3-openid==3.1.0
pytz==2017.3
rcssmin==1.0.6
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
six==1.11.0
sqlparse==0.2.4
urllib3==1.22
vine==1.1.4
