{% extends 'base.html' %}

{% block content %}
<div class="card col-8 mx-auto m-t-l p-b-m">
    <div class="card-header">
        <h2>Search with haystack and solr</h2>
    </div>
    <div class="container m-t-s">
        <form class="form-inline m-t-s" method="get" action=".">
            {{ form.q }}

            <input class="btn btn-primary ml-2" type="submit" value="Search">

        </form>
    </div>
    {% if query %}

    <h3 class="m-t-m">Results</h3>
    <ul class="list-group">

        {% for result in page.object_list %}

        {% if not result.object.title %} <!-- only comments -->

        <li class="list-group-item">
            <a>{{ result.object.body }} (comment by) {{ result.object.user }}</a>

        </li>
        {% else %} <!-- rest, not comments -->

        <li class="list-group-item" style="padding: 0">
            <a class="nav-link" href="{{ result.object.get_absolute_url }}">
                {{ result.object.title }}

            </a>

        </li>
        {% endif %}
        {% empty %}
        <p>No results found.</p>
        {% endfor %}
    </ul>
    {% if page.has_previous or page.has_next %}
    <div>
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
    </div>
    {% endif %}
    {% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

</div>
{% endblock %}